                                           Assignment -1

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
# Question 1
    
a = (5 + 4 * 9 % (3 + 1) / 6 - 1)
print(a)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [137]:
#Question 2

if (int(input()) == 0):
    print("Even Number")
else:
    print("Old Number")

27
old number

Q3: Write a program to display the multiplication table by taking a number as input.

In [138]:
#Question 3

num = int(input())
for num_table in range(1,11):
    table = num*num_table
    print(table)

5
5
10
15
20
25
30
35
40
45
50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.

In [6]:
#Question 4

num = input()
for num in range(2000,3200):
    if (num%7 == 0 and num%5 > 0):
        print(num)

2000
2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [154]:
#Question 5

lst_1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
res = len(list(i for i in lst_1 if isinstance(i,bool)))
res_1  = len(list(i for i in lst_1 if isinstance(i,int)))
res_2  = len(list(i for i in lst_1 if isinstance(i,str)))
res_3  = len(list(i for i in lst_1 if isinstance(i,float)))
print( f"Number of Boolean Values : {res}\n",
    f"Number of Integer Values : {res_1}\n",
    f"Number of String Values : {res_2} \n",
    f"Number of Float Values : {res_3} \n")

Number of Boolean Values : 1
 Number of Integer Values : 6
 Number of String Values : 4
 Number of Float Values : 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [157]:
#Question 6

lst_1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
res = [x for x in lst_1 if type(x)==int]
print(sum(res))

16

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [11]:
#Question 7


lst_1 = ['Py','SQL','John']   
str(lst_1)

str_concat = "-".join(lst_1)
print(str_concat)

Py-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [160]:
#question 8

    
lst_1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 


def my_func(demo_dict):
    
    res_1 = sum([x for x in lst_1 if type(x)==int])
    res_2 = len([x for x in lst_1 if type(x)==str])
   
    demo_dict = { "sum": res_1,"count" : res_2 }
    
    return res_1,res_2

In [31]:
#8
demo_dict = { "sum": res_2,"concat" : res_3 }
print(demo_dict)

{'sum': 16, 'concat': ['Py', '10', 'SQL', 'John']}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
    i. Use loops to get the answer

In [180]:
#Question 9

list_1 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

for items in list_1:
    if (items%2) > 0:
        print(items)

5
7
97
77
23
73
61

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
    iii. Use lambda function with filter

In [181]:

#Question 9

list(filter(lambda l1 :l1%2 >0 ,list_1))

[5, 7, 97, 77, 23, 73, 61]

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
     ii. Use list comprehensions

In [34]:
#Question 9


list_1 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

list_comprehension = [items for items in list_1 if (items%2)>0 ]
list_comprehension

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [38]:
#Q10
def unknown_input(*args):
    print(args)
    prod_val = 1
    sum_val = 0
    max_val = max(*args)
    min_val = min(*args)
    for i in args:
        sum_val = i + sum_val
        prod_val = i*prod_val
        mean_value = sum_val/i
    for index,value in enumerate(args):
        count_val = index+1
        
    return sum_val , prod_val ,max_val,min_val ,count_val

In [39]:
unknown_input(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

(55, 3628800, 10, 1, 10)

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

In [182]:
#Q11

def dummy(**kwargs):
    for key,value in kwargs.items():
        print(key,value)  
    print(kwargs)

In [183]:
i = int(input())
j = int(input())
r = int(input())
s1 = i*i
s2 = 3.14*r*r
s3 = 2*i*j
dummy(square = int(s1),circle = float(s2),rectangle = int(s3))

12
3
4
square 144
circle 50.24
rectangle 72
{'square': 144, 'circle': 50.24, 'rectangle': 72}

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [175]:
#Question 12
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = {'January', 'February', 'April', 'June', 'October', 'December'}

def func(l1,l2):
    l3 = set(l1)
    l4 = set(l2)
    l5 = list(l3.intersection(l4))
    l6 = list(l4.difference(l3))
    l7 = list(l3.difference(l4))
    
    demo_dict = {
    "Matched" : l5 ,
    "Only in l1" : l7,    
    "Only in l2" : l6 
     }
     
    print(demo_dict)

In [176]:
func(l1,l2)

{'Matched': ['December', 'February', 'June', 'January'], 'Only in l1': ['May', 'September', 'March'], 'Only in l2': ['October', 'April']}

In [ ]:
Q13: write a UDF to check if a number is prime or not.

In [40]:
#Q13
def prime_number(num_1):
    if (num_1 >= 2):
         for i in range(2,num_1):
            if (num_1%i == 0):
                return True
    else:
         return False
    return False

In [41]:
prime_number(29)

False

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [42]:
#Q14
s = input()
factorial = 1
for i in range(1,int(s)+1):
    factorial = factorial*i
print(factorial)

8
40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [40]:
s = int(input())
a = range(1,s+1)

for v in range(1,s+1):
       result_1 = list(map(lambda v:v,a))
print(result_1)    
    
for v in range(1,s+1):
       result_2 = list(map(lambda v:v*v,a))
print(result_2)      


demo_dict = {result_1[r]:result_2[r] for r in range(len(result_1))}
print(demo_dict)

8
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [163]:
#Q16
s = input()
s1 = s.split(",")
t1 = tuple(s1)
l1 = list(s1)
print(t1,l1)
t1
l1

34,67,55,33,12,98
('34', '67', '55', '33', '12', '98') ['34', '67', '55', '33', '12', '98']

['34', '67', '55', '33', '12', '98']

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [50]:
#17
s = input()
words = [word for word in s.split(",")]
#print(words)
print(",".join(sorted(words)))

without,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [51]:
#Q18
s = input()
word = s.split(" ")
print(" ".join(sorted(set(word))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [61]:
#Q19
string_value = input()
count_1 = 0
count_2 = 0
for i in string_value:
    if (i.islower()):
        count_1 = count_1 + 1
    elif(i.isupper()):
        count_2 = count_2 + 1
print("Lowercase alphabet count is:",count_1)
print("Uppercase alphabet count is:",count_2)

Hello World
Lowercase alphabet count is: 8
Uppercase alphabet count is: 2

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [62]:
#Q20
string = "abcd123" 
str = ""
for i in string:
    str = i + str
print(str)

321dcba